h1,
h2,
h3,
h4,
li,
p {
	font-family: sans-serif;
	color: #444;
}
h1,
h2,
h3 {
	color: #29a85ac9;
}
h1 {
	font-size: 26px;

	text-transform: uppercase;
	font-style: italic;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 30px;

	text-transform: uppercase;
	text-align: center;
}
p {
	font-size: 22px;

	line-height: 1.5;
}
li {
	font-size: 20px;
}
footer p {
	font-size: 16px;
}
/* article header p {
	font-style: italic;
} */
#author {
	font-style: italic;
}
#copyright {
	font-style: italic;
}
.related-author {
	font-style: italic;
}

.related {
	list-style-type: none;
}
header {
	background-color: #f3f3f3;
}
aside {
	background-color: #f3f3f3;
	border-top: 5px solid #29a85ac9;
	border-bottom: 5px solid #29a85ac9;
}
li:first-child {
	font-weight: bold;
}
li:last-child {
	color: green;
}
a:link {
	color: #0fc7b8;
	text-decoration: none;
}
a:visited {
	color: #0fc7b8;
	text-decoration: none;
}
a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	background-color: blueviolet;
}
